# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*.egg-info/

# Environment
.env

# Docker
*.log

# IDE
.vscode/
.idea/

# MinIO / data
data/

# Docker
docker-compose.override.yml

# Backtester
backtester/results.csv
backtester/data/
backtester/mm_results.csv
